body {
    max-height: 310px;
    margin-bottom: 10px;
}

main {
    max-height: 300px;
}

#map-container {
    padding: 0;
}

#map {
    height: 300px;
    cursor: pointer;
}

#results {
    height: 300px;
    overflow-y: auto;
}

.ol-zoomslider.ol-unselectable.ol-control {
    display: none;
}

#results .result > .col-xs-2 {
    padding: 0;
}

.result-container {
    padding-left: 0;
    padding-right: 0;
}

.result-container > div {
    padding: 0;
}

.result-container .result {
    padding-right: 0;
}