body {
    max-height: 310px;
    margin-bottom: 10px;
}

main {
    max-height: 300px;
}

#map-container {
    padding: 0;
}

#map {
    height: 300px;
}

#results {
    height: 300px;
}

.ol-zoomslider.ol-unselectable.ol-control {
    display: none;
}

#results .result > .col-xs-2 {
    padding: 0;
}