#map {
    height: 100vh;
}

#results {
    height: 100vh;
    padding-top: 51px;
}

#closer {
    top: 50px;
}

#beta-info {
    position: absolute;
    z-index: 99999;
    left: 25%;
    top: 55px;
    width: 50%;
}

#research-button {
    position: relative;
    bottom: 50px;
    width: 100%;
    text-align: center;
}