#offline-addon {
	display: none;
}

@media(max-width: 767px){
	#offline-addon {
		width: calc(100% - 30px);
	}
}

#offline-addon .area-selection-info {
    display: none;
    font-weight: bold;
    font-size: 11px;
}

#offline-addon > #heading {
	display:flex;
	justify-content: space-between;
	background-color: rgb(255,128,0);
}

#offline-addon > #heading > .exit {
	padding:7px;
	color: white;
}

#offline-addon > #heading > .logo {
	align-self: center;
	padding: 7px;
}

#offline-addon .add-area {
	text-align: center;
    display: none;
    padding: 10px 20px;
    border-top: 1px solid #e7e7e7;
}

#offline-addon .add-area a:visited {
	color: #337ab7
}

#offline-addon .downloaded-areas, #offline-addon .available-areas {
	list-style-type: none;
    margin-bottom: 0;
}

#offline-addon .download-progress {
    display: none;
}

#offline-addon .download-progress > .progress {
    flex-grow: 1;
}

#offline-addon .download-progress .abort {
    margin: 0 10px;
    color: red;
}

#offline-addon .downloaded-areas > div.placeholder, #offline-addon .available-areas > div.placeholder {
    text-align: center;
    padding-bottom:5px;
}

#offline-addon .area{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 5px;
}

#offline-addon .area > .texts {
    flex-grow: 1;
}

#offline-addon .area > .texts > .name {
    font-weight: bold;
}

#offline-addon .area > .texts > .info {
    display: flex;
    color: #777;
}

#offline-addon .area > .texts > .info > .seperator {
    font-weight: bold;
    padding: 0 3px;
}

#offline-addon .area > .remove {
    cursor: pointer;
    padding: 5px;
}

#offline-addon .area > .remove > span {
    font-size: 17px;
    color: #777;
}

#offline-addon .available-areas > div {
    display: none;
}

body > #selector {
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
    display:none;
}

body > #selector-accept {
	 position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, .9);
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(255,128,0);
    color: green;
    cursor: pointer;
    display: none;
}

body > #selector-accept > span {
	font-size: 27px;
}