.drop-target {
    margin: 10px 0;
    border-color: black;
    border-width: 2px
}

#route-information {
    margin: 8px 10px;
    text-align: center;
    font-weight: bold;
}

#route-information #length {
    border-right: 1px solid lightgrey;
}

.hide {
    transform: translateX(-9999px);
}

#calc-route {
    width: 100%;
    display: block;
    text-align: center;
    line-height: 1.5em;
    padding: 7px 0px;
    border-right: 1px solid lightgrey;
}

#add-waypoint {
    width: 100%;
    border: 0;
    background-color: inherit;
    line-height: 1.5em;
    padding: 7px 0;
    color: #337ab7;
}

#find-route-options {
    padding: 7px 0;
    padding-top: 0;
}

#search-results {
    background-color: white;
    position: absolute;
    width: calc(100% - 30px);
    padding: 7px;
    border: 1px solid grey;
    z-index: 2001;
}

#search-results h5 {
    font-weight: bold;
}

#search-results .loader {
    text-align: center;
}

#search-results > ul li {
    margin: 5px 3px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 5px
}

#search-results > ul li:hover {
    background-color: #eee;
}

.search-btn {
    position: absolute;
    right: 18px;
    margin-top: -2.6em;
    height: 2.3em;
    line-height: 2.5em;
    border: 0;
}

.search-btn > span {
    position: relative;
    top: -.3em;
}

#routing-steps {
    margin-top: 10px;
}

#routing-steps .step {
    margin-left: 0;
    margin-right: 0;
}

#routing-steps .step > td {
    text-align: center;
    vertical-align: middle;
}

#routing-steps .step {
    cursor: pointer;
}

#routing-steps .step:hover {
    background-color: #ececec;
}

#routing-steps .step > div {
    margin-top: .5em;
}

#vehicle-chooser label.radio-inline {
    padding: 0;
    margin: 0;
}

#vehicle-chooser label.radio-inline > input[type=radio] {
    display: none;
}

#vehicle-chooser label.radio-inline > input[type=radio] + div {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

#vehicle-chooser label.radio-inline > input[type=radio]:checked + div {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}

.ol-attribution ul {
    font-size: .7em;
}

#route-assistent {
    width: 100%;
    display: block;
    text-align: center;
    padding: 9px 0;
    cursor: pointer;
}

#user-pos {
    background-image: url('/img/navigation-arrow.svg');
    width: 50px;
    height: 50px;
    display: block;
    text-align: center;
    padding-top: 5px;
    color: white;
    font-weight: bold;
}

#continue-dialog {
    background-color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

#continue-dialog > .heading {
    text-align: center;
    font-weight: bold;
}

#continue-dialog > .options {
    text-align: center;
    padding: 5px 0;
}

#continue-dialog > .options > .first {
    border-right: 1px solid lightgrey;
}

#back-to-edit {
    padding-left: 3px;
}

#back-to-edit > div {
    background-color: #ff8000;
    color: white;
}

#waypoint-container {
    list-style-type: none;
    padding: 5px 20px;
    margin-bottom: 0;
}

#waypoint-container .adress-name {
    font-size: 0.75em;
    line-height: 1.5em;
}

#waypoint-container > li > .row {
    padding: 8px 0;
}

#route-content #rearange-info {
    padding-top: 5px;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

#waypoint-container .delete-waypoint {
    font-size: 19px;
}

#waypoint-container .delete-waypoint a {
    color: lightgrey;
    display: block;
    padding-top: 11px;
    padding-bottom: 11px;
    width: 100%;
    text-align: right;
}

#route-content .new-waypoint-box > p {
    font-weight: bold;
    margin-bottom: 3px;
}

#route-content .new-waypoint-box > p > button {
    border: 0;
    background-color: inherit;
}

.popover {
    z-index: 20002;
}